/* Universal area */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    text-align: left;
    font-weight: 700;
    color: #575757;
}

p{
    line-height: 1.7;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9%;
}

.navlinks li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

.navlinks li a{
    text-decoration: none;
    color: #575757;
}

.colored{
    color: #fc8c49;
}

.top {
    margin-top: 100px;
    margin-bottom: 100px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4%;
}

.half-part {
    width: 50%;
    padding-left: 5%;
}

.half-part img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, #fc8c49, #fd4d30);
    padding: 18px 40px;
    border-radius: 50px;
    color: white;
    box-shadow: -1px 2px 11px -1px #fc8c49;
    font-weight: bold;
}

.half-part p {
    margin-bottom: 70px;
    font-size: 18px;
}

.about{
    background-image: url(./images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    margin-bottom: 100px;
}


.middle-image img{
    width: 60%;
    padding-left: 20%;
    
}

.middle-text{
    padding-right: 10%;
    margin-bottom: 5%;
}

.recipe{
    margin-bottom: 100px;
}

.recipe h1{
    text-align: center;
}

.recipe-items{
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 15px;
    box-shadow: 10px 10px 30px grey;
    border-radius: 30px;
}

.recipe-items img{
    width: 100%;
}

.recipe-items h2{
    font-weight: bold;
}

.recipe-items p{
    font-size: 20px;
}

#qoura{
    padding: 0 25%;
    text-align: center;
    margin-bottom: 50px;
}

footer{
    text-align: center;
    background-color: #0b0d17;
    padding: 20px 20px 80px 20px;
}

footer h2{
    color: #575757;
    word-spacing: 6px;
    padding-bottom: 10px;
}

footer p{
    color: lightskyblue;
    font-weight: lighter;
}