body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: left;
    font-weight: 700;
    color: #575757;
}

p{
    line-height: 1.7;
}

.colored{
    color: #fc8c49;
}

.top {
    margin-top: 100px;
    margin-bottom: 100px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-part {
    width: 50%;
    margin-left: 5%;
    padding-left: 5%;
}

.half-part img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, #fc8c49, #fd4d30);
    padding: 18px 40px;
    border-radius: 50px;
    color: white;
}

.half-part p {
    margin-bottom: 70px;
    font-size: 18px;
}

.about{
    background-image: url(./images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    margin-bottom: 100px;
}

.middle-image img{
    width: 60%;
    padding-left: 20%;
}

.middle-text{
    padding-right: 10%;
}

.recipe{
    margin-bottom: 100px;
}

.recipe h1{
    text-align: center;
}


.recipe-items{
    width: 40%;
    margin-left: 5%;
    margin-right: 1%;
    padding: 15px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 30px;
}

.recipe-items img{
    width: 100%;
}

.recipe-items h2{
    font-weight: bold;
}

.recipe-items p{
    font-size: 20px;
}

#qoura{
    padding: 0 25%;
    text-align: center;
    margin-bottom: 50px;
}